<!DOCTYPE html>
<html>
  <head>
    <title>Stimulus & Mapping (OpenLayers and Leaflet Demo)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container-fluid px-5">
    <%= yield %>
  </body>
</html>
